.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0;
}
.total-start{
  display: flex;
  align-items: center;
}
.start-number{
  margin-right: 1rem;
}

.header-rating h1{
  font-weight: 700;
  font-size: 44px;
}

.body-rating h2 {
  font-weight: 700;
  font-size: 28px;
}
/* @media (min-width: 640px) { ... } */
/* @media (min-width: 768px) { ... } */
@media (min-width: 1024px) { 
   .wrapper-total-start{
     display: flex;
     justify-content: space-between;
   }
   .header-rating{
    width: 50%;
  }
   .body-rating {
     width: 50%;
   }
 }

 .none {
   display: none;
 }